
@{
    ViewBag.Title = "Donations";

    
}


<!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Listado de donaciones</h1>
        <p class="mb-4">Donaciones registradas por los usarios</a>.</p>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Donaciones</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Donante</th>
                                <th>Tipo de donación</th>
                                <th>Estado</th>
                                <th>Fecha de registro</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Donante</th>
                                <th>Tipo de donación</th>
                                <th>Estado</th>
                                <th>Fecha de registro</th>
                            </tr>
                        </tfoot>
                        <tbody>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>